{% extends "../base.html" %}

{% load humanize %}
{% load static %}
{% block content %}
    <article>


            <!-- 
        - #STATE
      -->

      <section class="section stats" aria-label="stats">
        
        <div class="container" id="singin">
            <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                </div>
            </div>
            <div class="screen-body">
                <div class="screen-body-item left">
                <div class="app-title">
                    <span> ورود به حساب هکری  </span>
                </div>
                <div class="app-contact">
                    .در صورتی که حساب هکری دارید وارد شوید و استفاده کنید و در غیر این صورت از دکمه زیر برای خود حسابی ایجاد کنید
                    <hr>
                    <style>
                        .message_errore{
                            color: hsl(351, 83%, 61%);
                            font-size: 25px !important;
                            direction: rtl;
                          }
                    </style>
                    {% for message in messages %}
                    <div class="message_errore">
                        <h6>{{ message }}</h6>
                    </div>
                    {% endfor %}
                </div>
                <div class="app-form-group buttons">
                    <button style="color:white;" type="submit">ثبت نام هکری</button>
                </div>
                </div>
                <div class="screen-body-item">
                <div class="app-form">
                    
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="app-form-group">
                            <input class="app-form-control" type="text" name="username" placeholder="نام کاربری" />
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" type="password" name="password" placeholder="رمز ورود" />
                        </div>
                        <div class="app-form-group buttons">
                            <button style="color:white;" type="submit">ورود</button>
                        </div>
                    </form>
                    
                </div>
                </div>
            </div>
            </div>
        </div>

        <div style="display:none;" class="container" id="singup">
            <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                </div>
            </div>
            <div class="screen-body">
                <div class="screen-body-item left">
                <div class="app-title">
                    <span>ساخت حساب هکری</span>
                </div>
                <div class="app-contact">
                    در صورتی که قبلا حساب کاربری ایجاد کرده اید لطفا با زدن دکمه زیر وارد حساب خود بشوید.
                    <hr>
                    
                    {% for message in messages %}
                    <div class="message_errore">
                        <h6>{{ message }}</h6>
                    </div>
                    {% endfor %}
                </div>
                <div class="app-form-group buttons">
                    <button style="color:white;" type="submit">ورود به حساب هکری</button>
                </div>
                </div>
                <div class="screen-body-item">
                <div class="app-form">
                    

                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="app-form-group">
                            <input class="app-form-control" type="text" name="fullname" placeholder="نام کامل" />
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" type="text" name="email" placeholder="پست الکترونیک" />
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" type="text" name="username_up" placeholder="نام کاربری" />
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" type="password" name="password_up" placeholder="رمز ورود" />
                        </div>
                        <div class="app-form-group buttons">
                            <button style="color:white;" type="submit">عضویت</button>
                        </div>
                    </form>

                </div>
                </div>
            </div>
            </div>
        </div>


      </section>

      <script>
        document.addEventListener('DOMContentLoaded', function () {
            const signInButton = document.querySelector('#singin button[type="submit"]');
            const signUpButton = document.querySelector('#singup button[type="submit"]');
            const signInContainer = document.querySelector('#singin');
            const signUpContainer = document.querySelector('#singup');
        
            signUpButton.addEventListener('click', function (event) {
                event.preventDefault();
                signInContainer.style.display = 'block';
                signUpContainer.style.display = 'none';
            });
        
            signInButton.addEventListener('click', function (event) {
                event.preventDefault();
                signUpContainer.style.display = 'block';
                signInContainer.style.display = 'none';
            });
        });        
      </script>



      <!-- 
        - #COURSE
      -->

    



    </article>

{% endblock content %}

