<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>amirooo.net-Login</title>
    <link rel="stylesheet" href="{% static 'styles/loginform.css' %}">
    <script>
        function toggle() {
            let login = document.getElementById('login');
            let reg = document.getElementById('reg');
            login.classList.toggle('show');
            reg.classList.toggle('show');
        }
    </script>
</head>

<body>
    <main class="container">
        <!-- User Header Section -->
        <div class="LF-header_section">
            <div class="title" id="title">
                <i class="uil uil-apps" id="menu-icon" onclick="openMenu()"></i>
                <a href="/"><h1>amirooo</h1></a>
            </div>
        </div>
        <!-- end of User Header Section by Amiran -->
        <section>
            <aside>
                <div id="login" class="show">
                    <form method="post" action="">
                        {% csrf_token %}
                        <h2 onclick="toggle()">ورود <br /><small>یا</small></h2>
                        <div class="form-group">
                            <input type="text" name="username" placeholder="نام کاربری" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="رمز ورود" />
                        </div>
                        <button type="submit">ورود</button>
                    </form>
                </div>
                <div id="reg">
                    <form method="post" action="">
                        {% csrf_token %}
                        <h2 onclick="toggle()"><small>یا</small><br />ثبت نام</h2>
                        <div class="form-group">
                            <input type="text" name="fullname" placeholder="نام کامل" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="پست الکترونیک" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="username_up" placeholder="نام کاربری" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password_up" placeholder="رمز ورود" />
                        </div>
                        <button type="submit">عضویت</button>
                    </form>
                </div>
            </aside>

            {% for message in messages %}
            <div class="message_errore">
                <h6>{{ message }}</h6>
            </div>
            {% endfor %}

        </section>
        <div class="links">
            <a href="#">راهنمای ثبت نام </a>|
            <a href="#"> ارتباط با پشتیبانی </a>|
            <a href="#"> ارتباط با سازندگان</a>
        </div>
    </main>
</body>

</html>