<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <title>amirooo.net | {{course.title}}</title>
</head>
<body>
    <main class="container">
        <!--start side menu made by Saba -->
        {% include "../siedbar.html" %}
        <!--end side menu made by Saba -->

        <!--start of CoursesDetails by rastin design -->
        <div class="CoursesDetails">
        <div class="banner">
            <div class="Course-poster">
                <img src="{{course.banner.url}}" alt="{{course.title}}">
            </div>
        </div>

            
            <div class="CD-section">
                <div class="teacher">
                    <div class="teacher-pic">
                    <img src="{{ course.teacher.Profile.url}}" alt="">
                        <div class="teacher-info">
                            <h5>{{course.teacher.Fullname}}</h5>
                            <h5>{{course.teacher.Email}}</h5>
                            <h4 class="teacher-titr">درباره مدرس</h4>
                            <div style="font-size:small;direction:rtl;padding:10px;">
                                {{course.teacher.Bio | safe | truncatewords_html:75 }}</div>
                        </div>
                    </div>
                </div>
    
                
            <div class="CD-main-section">
                <div class="chapter-summery">
                    <h4>مقدمه دوره:</h4>
                    {{ course.description | safe }}
                </div>
    
                <div class="chapters-section">
                    <div class="chapter">
                        <i class="uil uil-expand-alt" style="background-color: #58BAAB;"></i>
                        <div>
                            <h3 style="display:flex; gap:5px;"> فصل اول | <span style="font-size:small;margin-top:5px;">آشنایی با اجزا سایت</span></h3>
                            
                            <div class="chapter-desc">
                                زمان مورد نیاز برای گذارندن دوره: 3 جلسه
                            </div>
                        </div>
                    </div>
                    <div class="chapter">
                        <i class="uil uil-expand-alt" style="background-color: #FB6B58;"></i>
                        <div>
                            <h3>فصل دوم</h3>
                            <div class="chapter-header">طراحی صفحه اول</div>
                            <div class="chapter-desc">
                                زمان مورد نیاز برای گذارندن دوره: 5 جلسه
                            </div>
                        </div>
                    </div>
                    <div class="chapter">
                        <i class="uil uil-expand-alt" style="background-color: #F6BA05;"></i>
                        <div>
                            <h3>فصل سوم</h3>
                            <div class="chapter-header">استایل دهی صفحه اول</div>
                            <div class="chapter-desc">
                                زمان مورد نیاز برای گذارندن دوره: 5 جلسه
                            </div>
                        </div>
                    </div>
                    <div class="chapter">
                        <i class="uil uil-expand-alt" style="background-color: #FDBBBD;"></i>
                        <div>
                            <h3>فصل چهارم</h3>
                            <div class="chapter-header">طراحی صفحه دوم</div>
                            <div class="chapter-desc">
                                زمان مورد نیاز برای گذارندن دوره: 4 جلسه
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!--end of CoursesDetails by rastin design -->

    </main>
