<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "../hed.html" %}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <title>amirooo.net | {{course.title}}</title>
</head>
<body>
    <main class="container">
        <!--start side menu made by Saba -->
        {% include "../siedbar.html" %}
        <!--end side menu made by Saba -->

        <!--start of CoursesDetails by rastin design -->
        <div class="CoursesDetails">
        <div class="banner">
            <div class="Course-poster">
                <img src="{{course.banner.url}}" alt="{{course.title}}">
            </div>
        </div>

            
            <div class="CD-section">
                <div class="teacher">
                    <div class="teacher-pic">
                        <div class="teacher-profile">
                            <img src="{{ course.teacher.Profile.url}}" alt="">
                            <div>
                                <h5><strong>{{course.teacher.Fullname}}</strong></h5>
                                <a href="mailto:{{course.teacher.Email}}">پست الکترونیک</a>
                            </div>
                        </div>
                        <hr>
                        <div class="teacher-info">
                            
                            <h4 class="teacher-titr">درباره مدرس</h4>
                            <div style="font-size:small;direction:rtl;padding:10px;">
                                {{course.teacher.Bio | safe | truncatewords_html:75 }}</div>
                        </div>
                    </div>
                </div>
    
                
            <div class="CD-main-section">
                <div class="chapter-summery">
                    <h4>مقدمه دوره:</h4>
                    {{ course.description | safe }}

                    
                    {% if user.is_authenticated %}
                    {% else %}
                    <br>
                    <hr>
                    <a class="if_user_is_none" href="/LoginSingup/">
                        <p>
                            <b>برای مشاهده دوره ابتدا در وب سایت ثبت نام کنید و یا وارد حساب کاربری خود بشوید.</b>
                        </p>
                    </a>
                    {% endif %}
                </div>

                {% if user.is_authenticated %}
                <div class="chapters-section">
                   {% for chapters in chapter %}
                    {% if chapters.course_id.id == course.id %}
                        <div class="chapter">
                            <div>
                                <h3 style="display:flex; gap:5px;"> فصل {{chapters.chapter_id}} | <span style="font-size:small;margin-top:5px;">{{ chapters.title }}</span></h3>
                                
                                <div class="chapter-desc">
                                    تعداد جلسات: {{ chapters.videos_lenth }} جلسه
                                </div>
                            </div>
                        </div>

                        <!-- Config video section -->
                        <div class="videos">
                           {% for videos in video %}
                           {% if videos.chapter.id == chapters.id %}

                           {% if videos.is_prwview == True %}
                           <div class="video">
                                <div class="video_title">
                                    <strong onclick="open_video_part(this)">{{videos.title}}</strong>
                                    <span>{{videos.serial_number}}</span>
                                </div>
                                
                                <!-- this section for videos -->
                                <div class="video_part">
                                <hr>
                                <br>
                                    <div class="video_file" id="video_file">
                                        <video controls controlsList="nodownload" oncontextmenu="return false;">
                                            <source src="{{videos.video_file.url}}" type="video/mp4">
                                        </video>
                                    </div>
                                {% if videos.resource %}
                                
                                <hr>
                                    <div class="video_sorce">
                                        
                                        <a href="{{videos.resource.url}}" download> <i class="uil uil-file-download"></i> دانلود منابع </a>
                                        
                                    </div>
                                {% endif %}
                                </div>
                                
                            </div>
                            <!-- end of section for videos -->
                            {% elif videos.is_prwview == False %}
                            {% for courseIN in user_profile.User_course.all %}
                            {% if courseIN.id == course.id%}

                            <div class="video">
                                <div class="video_title">
                                    <strong onclick="open_video_part(this)">{{videos.title}}</strong>
                                    <span>{{videos.serial_number}}</span>
                                </div>
                                
                                <!-- this section for videos -->
                                <div class="video_part">
                                    <hr>
                                    <br>
                                    <div class="video_file" id="video_file">
                                        <video controls controlsList="nodownload" oncontextmenu="return false;">
                                            <source src="{{videos.video_file.url}}" type="video/mp4">
                                        </video>
                                    </div>
                                    {% if videos.resource %}
                                    
                                    <hr>
                                    <div class="video_sorce">
                                        
                                        <a href="{{videos.resource.url}}" download> <i class="uil uil-file-download"></i> دانلود منابع </a>
                                        
                                    </div>
                                    {% endif %}
                                    </div>
                                    
                                <!-- end of section for videos -->

                                
                            </div>

                            

                            {% endif %}
                            {% endfor %}
                            {% endif %}



                           {% endif %}
                           {% endfor %}
                        </div>


                    {% endif %}
                   {% endfor %}

                </div>
                {% endif %}
            </div>
        </div>    
        <!--end of CoursesDetails by rastin design -->

        <script src="{% static "/js/coursDitails.js" %}"></script>

    </main>
