<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load humanize %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <title>CoursesDetails</title>
</head>
<body>
    <main class="container">
        <!--start side menu made by Saba -->
        {% include "../siedbar.html" %}
        <!--end side menu made by Saba -->

        <!--start of CoursesDetails by rastin design -->
        <div class="CoursesDetails">
        <div class="banner">
            <div class="Course-poster">
                <img src="/Frontend/images/banners/courseHeader.jpg" alt="">
            </div>
        </div>

            
            <div class="CD-section">
                <div class="teacher">
                    <div class="teacher-pic">
                    <img src="/Frontend/images/saba.jpg" alt="">
                        <div class="teacher-info">
                            <h5>نام مدرس</h5>
                            <h5>email1234@gmail.com</h5>
                            <h4 class="teacher-titr">درباره مدرس</h4>
                            <p class="teacher-description">صبا در سال ۱۳۹۴ در رشته مهندسی کامپیوتر فارغ‌التحصیل شد و به عنوان برنامه‌نویس وب در شرکت معدنی و صنعتی چادرملو شروع به کار کرد. تخصص اصلی ایشان در زبان‌های جاوا اسکریپت و php است. وی به دلیل این که به آموزش علاقه زیادی داشت، تصمیم به راه‌اندازی وب‌سایتی در این زمینه به نام وب پروگ گرفت و اکنون از سال 1398 تاکنون توانسته‌است سهم کوچکی در آموزش به افراد علاقه‌مند به برنامه‌نویسی را داشته باشد.</p>
                        </div>
                    </div>
                </div>
    
                
            <div class="CD-main-section">
                <div class="chapter-summery">
                    <h4>مقدمه دوره:</h4>
                    <p>معرفی دوره آموزش بوت استرپ
                        دوره آموزش بوت استرپ مکتب خونه با هدف آموزش نسخه ٥ این فریمورک تهیه و تدوین شده است. این دوره در ٥ فصل و ١٢ ساعت محتوا آموزشی به کاربران ارائه می‌شود و در آن دانشجویان و متقاضیان یادگیری بوت استرپ می‌توانند به‌صورت عملی و پروژه محور نحوه کار با این فریمورک محبوب فرانت‌اند را یاد بگیرند.
                        
                        کاربرد دوره آموزش بوت استرپ 5 چیست؟
                        بوت استرپ به شما کمک می‌کند تا در طراحی المان‌های مختلف یک وب‌سایت قدرتمند زمان کمتری صرف کرده و البته طراحی منحصربه‌فردتری داشته باشید. به‌طورکلی این مسئله را همیشه در ذهنتان داشته باشید که هر چه رابط کاربری یا UI یک وب‌سایت بهینه‌تر باشد، جلب رضایت مخاطب نیز مؤثرتر خواهد بود که بوت استرپ یکی از ارکان ایجاد رابط کاربری مناسب برای وب‌سایت‌های مختلف در نظر گرفته شده است.                    
                    </p>
                </div>
    
                <div class="chapters-section">
                    <div class="chapter">
                        <i class="uil uil-expand-alt" style="background-color: #58BAAB;"></i>
                        <div>
                            <h3>فصل اول</h3>
                            <div class="chapter-header">آشنایی با اجزا سایت</div>
                            <div class="chapter-desc">
                                زمان مورد نیاز برای گذارندن دوره: 3 جلسه
                            </div>
                        </div>
                    </div>
                    <div class="chapter">
                        <i class="uil uil-expand-alt" style="background-color: #FB6B58;"></i>
                        <div>
                            <h3>فصل دوم</h3>
                            <div class="chapter-header">طراحی صفحه اول</div>
                            <div class="chapter-desc">
                                زمان مورد نیاز برای گذارندن دوره: 5 جلسه
                            </div>
                        </div>
                    </div>
                    <div class="chapter">
                        <i class="uil uil-expand-alt" style="background-color: #F6BA05;"></i>
                        <div>
                            <h3>فصل سوم</h3>
                            <div class="chapter-header">استایل دهی صفحه اول</div>
                            <div class="chapter-desc">
                                زمان مورد نیاز برای گذارندن دوره: 5 جلسه
                            </div>
                        </div>
                    </div>
                    <div class="chapter">
                        <i class="uil uil-expand-alt" style="background-color: #FDBBBD;"></i>
                        <div>
                            <h3>فصل چهارم</h3>
                            <div class="chapter-header">طراحی صفحه دوم</div>
                            <div class="chapter-desc">
                                زمان مورد نیاز برای گذارندن دوره: 4 جلسه
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!--end of CoursesDetails by rastin design -->

    </main>
