<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/about-contact.css' %}">
    {% include "../hed.html" %}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/dcea8a19ca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="https://icons8.com/icon/UNLQZThgLcfv/user-circle">
    <title>amirooo.net about</title>
</head>

<body>
    <main class="container">
        <img class="bg-about" src="{% static 'images/AboutUS-BG.jpg' %}">
        <div class="info-section">
            <div class="first">
                <h1>به amirooo.net خوش اومدین.</h1>
                <h3>ما اینجا به افراد کمک میکنیم که فرد موفق تری باشن و توانایی هاشون رو ارتقا بدن . amiroo.net بستری
                    است که
                    شما در اون کلی چیز جدید یاد میگیرین و کلی فرصت جدید جلوی راهتون قرار می گیره . پس اگه آماده این سفر
                    هستین در ادامه مسیر همراه باشین :)</h3>
            </div>
            <div class="about-amiroo">
                <img class="amiroo" src="{% static 'images/photo_2023-07-09_08-44-17.jpg' %}">
                <h4>امیرحسین امیران مدیر amirooo.net دارای تحصیلات لیسانس نرم افزار از دانشگاه تهران و با کلی تجربه و
                    سابقه
                    کاری در ایران و خارج از کشور با ایجاد این بستر سعی در ساختن نیروی کاری بهتر و با اطلاعات بهتر برای
                    کشور
                    خود و همچنین دسترسی راحت تر و سریع تر به اطلاعات روز و خبر های جدید دنیای کامپیوتر را دارد .</h4>
            </div>
            <div class="options-box">
                <div class="titles">
                    <a href="#" class="tabs active">نحوه کار با سایت</a>
                    <a href="#" class="tabs">راه های ارتباطی</a>
                    <a href="#" class="tabs">همکاری با ما</a>
                    <a href="#" class="tabs">نظرات کاربران</a>
                </div>


                <div class="content active">
                    <h3>نحوه کار با سایت</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vitae tempore optio maiores officiis
                    blanditiis nostrum qui voluptatem quos adipisci veniam recusandae asperiores ad voluptas ea, quam
                    architecto rem sit.
                </div>
                <div class="content">
                    <h3>راه های ارتباطی</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vitae tempore optio maiores officiis
                    blanditiis nostrum qui voluptatem quos adipisci veniam recusandae asperiores ad voluptas ea, quam
                    architecto rem sit.
                </div>
                <div class="content">
                    <h3>همکاری با ما</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vitae tempore optio maiores officiis
                    blanditiis nostrum qui voluptatem quos adipisci veniam recusandae asperiores ad voluptas ea, quam
                    architecto rem sit.
                </div>
                <div class="content">
                    <h3>نظرات کاربران</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic vitae tempore optio maiores officiis
                    blanditiis nostrum qui voluptatem quos adipisci veniam recusandae asperiores ad voluptas ea, quam
                    architecto rem sit.
                </div>
            </div>
        </div>
        <!--start side menu made by Saba -->
        {% include "../siedbar.html" %}
        <!--end side menu made by Saba -->
    </main>
    <script>
        let icon = document.getElementById("menu-icon")
        let menu = document.getElementById("menu")

        function openMenu() {
            if (menu.style.width === "0px") {
                menu.style.width = "300px";
                menu.style.overflow = "visible";
            }
            else {
                menu.style.width = "0px";
                menu.style.overflow = "hidden"

            }

        }

        const tabs = document.querySelectorAll(".tabs");
        const content = document.querySelectorAll(".content");
        tabs.forEach((tab, index) => {
            tab.addEventListener('click', (e) => {
                tabs.forEach(tab => { tab.classList.remove('active') });
                tab.classList.add('active');

                content.forEach(con => { con.classList.remove('active') });
                content[index].classList.add('active');
            })
        })

    </script>
</body>

</html>