{% extends "../base.html" %}

{% load humanize %}
{% load static %}
{% block content %}
    <article>


            <!-- 
        - #STATE
      -->

      <section class="section stats" aria-label="stats">
        
        <div class="container">
            <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                <div class="screen-header-button close"></div>
                <div class="screen-header-button maximize"></div>
                <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                <div class="screen-header-ellipsis"></div>
                </div>
            </div>
            <div class="screen-body">
                <div class="screen-body-item left">
                <div class="app-title">
                    <span>ارتباط امن با هکرهای ما</span>
                </div>
                <div class="app-contact">
                    <b>چرا این روش ارتباط امن هستش ؟</b>
                    <br>
                    سیستم‌های ارسال ایمیل از طریق سایت از HTTPS برای رمزنگاری اطلاعات استفاده می‌کنند.<br>
                    از امکانات مانند CAPTCHA و تأیید ایمیل برای جلوگیری از ارسال ایمیل‌های ناخواسته استفاده می‌کنند.<br>
                    محدودیت‌هایی بر روی تعداد و زمان ارسال ایمیل‌ها اعمال می‌کنند تا از سوءاستفاده جلوگیری کنند.<br>
                </div>
                <div class="app-contact">اطلاعات تماس : +98 9100817315</div>
                </div>
                <div class="screen-body-item">
                <div class="app-form">
                    <div class="app-form-group">
                    <input class="app-form-control" placeholder="نام">
                    </div>
                    <div class="app-form-group">
                    <input class="app-form-control" placeholder="ایمیل">
                    </div>
                    <div class="app-form-group">
                    <input class="app-form-control" placeholder="موضوع">
                    </div>
                    <div class="app-form-group message">
                    <input class="app-form-control" placeholder="متن پیام">
                    </div>
                    <div class="app-form-group buttons">
                        <button class="app-form-button">انصراف</button>
                        <button class="app-form-button">ارسال</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>


      </section>



      <!-- 
        - #COURSE
      -->

    



    </article>

{% endblock content %}