{% extends "../base.html" %} {% load humanize %} {% load static %} 
{% block content %}
<article>
  <!-- 
      - #HERO
    -->

  <section
    class="section hero has-bg-image"
    id="home"
    aria-label="home"
    style="background-image: url('{% static '/assets/images/hero-bg.svg' %}')"
  >
    <div class="container">
      <div class="hero-content">
        <h1 class="h1 section-title">
          <span class="fixed-text"
            >آدم های عادی هم با آموزش درست میتونن هکرهای
            <span class="typewriter"></span> بشن.
          </span>
        </h1>

        <p class="hero-text">
          نیمگم بهترین کیفیت ویدیوهارو ما داریم اما کیفیت هم آموزش ها و هم کیفیت
          محتوا را سیع کردیم در بالاترین حالت ممکن بسازیم.
        </p>

        <a href="/Course/hackmirooo/" class="btn has-before">
          <span class="span">دوره ایی که میخوایی</span>

          <i class="ph-bold ph-cursor-click"></i>
        </a>
      </div>

      <figure class="hero-banner">
        <div class="img-holder one" style="--width: 270; --height: 300">
          <img
            src="{% static 'assets/images/hero-banner-1.jpg' %}"
            width="270"
            height="300"
            alt="hero banner"
            class="img-cover"
          />
        </div>

        <div class="img-holder two" style="--width: 240; --height: 370">
          <img
            src="{% static '/assets/images/hero-banner-2.jpg' %}"
            width="240"
            height="370"
            alt="hero banner"
            class="img-cover"
          />
        </div>

        <div class="shape hero-shape-1">
          <div>
            <a
              href="https://t.me/amirhosseinamiran"
              target="_blank"
              rel="noopener noreferrer"
              >Online Support</a
            >
            <div>
              <i class="ph-bold ph-telegram-logo"></i>
            </div>
          </div>
        </div>

        <img
          src="{% static 'assets/images/hero-shape-2.png' %}"
          width="622"
          height="551"
          alt=""
          class="shape hero-shape-2"
        />
      </figure>
    </div>
  </section>

  <!-- 
      - #CATEGORY
    -->

  <section class="section category" aria-label="category">
    <div class="container">
      <p class="section-subtitle">Categories</p>

      <h2 class="h2 section-title">
        برای یادگیری از هر جایی که هستی <span class="span">کلاسهای آنلاین</span>
      </h2>

      <p class="section-text">
        <b>سلب مسئولیت قانونی</b>
        این سایت حاوی مباحث و منابعی میباشد که به طور بالقوه مخرب یا خطرناک است
        و تنها برای اهداف آموزشی میباشد. مطالب آموزشی این سایت در ساختاری کاملا
        قانونمند و اخلاقی ارائه شده و تیم امیرو هیچگونه مسئولیتی در برابر تبعات
        ناشی از هرگونه استفاده از مضامین این سایت را بر عهده نمیگیرد. استفاده از
        محتوای این سایت به منزله پذیرش این پیام میباشد .
      </p>

      <ul class="grid-list">
        <li>
          <div class="category-card" style="--color: 170, 75%, 41%">
            <div class="card-icon">
              <img
                src="{% static 'assets/images/category-1.svg' %}"
                width="40"
                height="40"
                loading="lazy"
                alt="Online Degree Programs"
                class="img"
              />
            </div>

            <h3 class="h3">
              <a href="#" class="card-title">هوش مصنوعی و امنیت</a>
            </h3>

            <p class="card-text">
              آموزش استفاده از یادگیری ماشین در ساخت سیستنهای هکری.
            </p>

            <span class="card-badge">1 Courses</span>
          </div>
        </li>

        <li>
          <div class="category-card" style="--color: 351, 83%, 61%">
            <div class="card-icon">
              <img
                src="{% static 'assets/images/category-2.svg' %}"
                width="40"
                height="40"
                loading="lazy"
                alt="Non-Degree Programs"
                class="img"
              />
            </div>

            <h3 class="h3">
              <a href="#" class="card-title">طراحی و ساخت ابزار هکری </a>
            </h3>

            <p class="card-text">
              شما یاد خواهید گرفت که انواع ابزارهای هکری را طراحی تولید کنید.
            </p>

            <span class="card-badge">3 Courses</span>
          </div>
        </li>

        <li>
          <div class="category-card" style="--color: 229, 75%, 58%">
            <div class="card-icon">
              <img
                src="{% static 'assets/images/category-3.svg' %}"
                width="40"
                height="40"
                loading="lazy"
                alt="Off-Campus Programs"
                class="img"
              />
            </div>

            <h3 class="h3">
              <a href="#" class="card-title">برنامه نویسی و امنیت وبسایت</a>
            </h3>

            <p class="card-text">
              در این مجموعه شما برنامه نویسی بکند و امنیت سایت را فرا میگیرد.
            </p>

            <span class="card-badge">2 Courses</span>
          </div>
        </li>

        <li>
          <div class="category-card" style="--color: 42, 94%, 55%">
            <div class="card-icon">
              <img
                src="{% static 'assets/images/category-4.svg' %}"
                width="40"
                height="40"
                loading="lazy"
                alt="Hybrid Distance Programs"
                class="img"
              />
            </div>

            <h3 class="h3">
              <a href="#" class="card-title">مجموعه هکری خارج از ماتریکس</a>
            </h3>

            <p class="card-text">
              از امنیت شبکه تا نوشتن بدافزارهای اندرویدی و هک سیستم عامل ها.
            </p>

            <span class="card-badge">1 Courses</span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- 
      - #ABOUT
    -->

  <section class="section about" id="about" aria-label="about">
    <div class="container">
      <figure class="about-banner">
        <div class="img-holder" style="--width: 520; --height: 370">
          <img
            src="{% static 'assets/images/amirhossein.amiran.jpg' %}"
            width="520"
            height="370"
            loading="lazy"
            alt="about banner"
            class="img-cover"
          />
        </div>

        <img
          src="{% static 'assets/images/about-shape-1.png' %}"
          width="360"
          height="420"
          loading="lazy"
          alt=""
          class="shape about-shape-1"
        />

        <img
          src="{% static 'assets/images/about-shape-3.png' %}"
          width="722"
          height="528"
          loading="lazy"
          alt=""
          class="shape about-shape-3"
        />
      </figure>

      <div class="about-content">
        <p class="section-subtitle">About Us</p>

        <h2 class="h2 section-title">
          تجربه چندین ساله من را در
          <span class="span">هک و امنیت سایبری</span> فرابگیرید
        </h2>

        <p class="section-text">
          من <b><strong>امیرو</strong></b> هستم یه هکر که در آمدش از برنامه
          نویسی و عاشق دوچرخه سواریه, تجربیات چندین ساله منو در
          <b>امنیت سایبری</b> و <b>برانامه نویسی جنگو </b> میتونید توی این سایت
          ببینید.
        </p>

        <ul class="about-list">
          <li class="about-item">
            <ion-icon
              name="checkmark-done-outline"
              aria-hidden="true"
            ></ion-icon>

            <span class="span">یه فوق باهوش خلاق</span>
          </li>

          <li class="about-item">
            <ion-icon
              name="checkmark-done-outline"
              aria-hidden="true"
            ></ion-icon>

            <span class="span">تجربه حرفه ایی 6 ساله</span>
          </li>

          <li class="about-item">
            <ion-icon
              name="checkmark-done-outline"
              aria-hidden="true"
            ></ion-icon>

            <span class="span">و البته یه گیک بنیادگرا</span>
          </li>
        </ul>
        <p style="text-align: right" class="section-text">
          برای دیدن تجربیات دقیق کاری من میتونید به صفحه
          <a href=""><b>پروژه های امیرو </b>بروید.</a>
        </p>

        <img
          src="{% static '' %}assets/images/about-shape-4.svg"
          width="100"
          height="100"
          loading="lazy"
          alt=""
          class="shape about-shape-4"
        />
      </div>
    </div>
  </section>

  <!-- 
      - #COURSE
    -->

  <section class="section course" id="courses" aria-label="course">
    <div class="container">
      <p class="section-subtitle">Popular Courses</p>

      <h2 class="h2 section-title">
        ترین دوره های آموزشی وبسایت <span class="span">خوفناک</span>
      </h2>

      <ul class="grid-list">
        {% for course in courses|slice:"3" %}
        <li>
          <div class="course-card">
            <figure
              class="card-banner img-holder"
              style="--width: 370; --height: 220"
            >
              <img
                src="{{course.banner.url}}"
                width="370"
                height="220"
                loading="lazy"
                alt="Build Responsive Real- World Websites with HTML and CSS"
                class="img-cover"
              />
            </figure>

            <div class="card-content">
              {% if course.length == 1 %}
              <span class="badge">مبتدی</span>

              {% elif course.length == 2 %}
              <span class="badge">متوسط</span>

              {% elif course.length == 3 %}
              <span class="badge">پیشرفته</span>
              {% endif %}

              <h3 class="h3">
                <a
                  href="{% url 'CoursesDetails' course.name %}"
                  class="card-title"
                  >{{ course.title }}</a
                >
              </h3>

              <div class="wrapper">
                <div class="rating-wrapper">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </div>

                <p class="rating-text">(5.0/7 Rating)</p>
              </div>

              <data class="price" value="{{ course.price | intcomma }}"
                >{{ course.price | intcomma }}
              </data>
              {% if course.active == True %}
              <span style="font-size: small; text-align: right"
                >درحال برگذاری</span
              >
              {% else %}
              <span style="font-size: small; text-align: right"
                >اتمام دوره</span
              >
              {% endif %}

              <ul class="card-meta-list">
                <li class="card-meta-item">
                  <ion-icon
                    name="library-outline"
                    aria-hidden="true"
                  ></ion-icon>
                  {% with chapters=course.chapter_set.all %}
                  <span class="span">{{ chapters|length }}</span>
                  {% endwith %}
                </li>

                <li class="card-meta-item">
                  <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                  <span class="span"
                    >{{ course.total_video_duration }} Minutes</span
                  >
                </li>

                <li class="card-meta-item">
                  <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                  {% with enrolled_users=course.user_set.all %}
                  <span class="span">{{ enrolled_users.count }} Students</span>
                  {% endwith %}
                </li>
              </ul>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

      <a href="/Course/hackmirooo/" class="btn has-before">
        <span class="span">مشهاده همه دوره ها</span>

        <i class="ph-bold ph-cursor-click"></i>
      </a>
    </div>
  </section>

  <!-- 
      - #STATE
    -->

  <section class="section stats" aria-label="stats">
    <div class="container">
      <ul class="grid-list">
        <li>
          <div class="stats-card" style="--color: 170, 75%, 41%">
            <h3 class="card-title">{{ total_users }}</h3>

            <p class="card-text">تعداد دانشجویان</p>
          </div>
        </li>

        <li>
          <div class="stats-card" style="--color: 351, 83%, 61%">
            <h3 class="card-title">102</h3>

            <p class="card-text">ساعت آموزش</p>
          </div>
        </li>

        <li>
          <div class="stats-card" style="--color: 260, 100%, 67%">
            <h3 class="card-title">96%</h3>

            <p class="card-text">رضایت داشجویان</p>
          </div>
        </li>

        <li>
          <div class="stats-card" style="--color: 42, 94%, 55%">
            <h3 class="card-title">35+</h3>

            <p class="card-text">مشتریان فروشگاه</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- 
      - #BLOG
    -->

  <section
    class="section blog has-bg-image"
    id="blog"
    aria-label="blog"
    style="background-image: url('{% static '' %}assets/images/blog-bg.svg')"
  >
    <div class="container">
      <p class="section-subtitle">Latest Articles</p>

      <h2 style="text-align: center !important" class="h2 section-title">
        اخبار هک و امنیت سایبری دنیا <span class="span">مهم ترین</span>
      </h2>

      <ul class="grid-list">
        <li>
          <div class="blog-card">
            <figure
              class="card-banner img-holder has-after"
              style="--width: 370; --height: 370"
            >
              <img
                src="{% static '' %}assets/images/blog-1.jpg"
                width="370"
                height="370"
                loading="lazy"
                alt="Become A Better Blogger: Content Planning"
                class="img-cover"
              />
            </figure>

            <div class="card-content">
              <a href="#" class="card-btn" aria-label="read more">
                <ion-icon
                  name="arrow-forward-outline"
                  aria-hidden="true"
                ></ion-icon>
              </a>

              <a href="#" class="card-subtitle">Online</a>

              <h3 class="h3">
                <a href="#" class="card-title"
                  >Become A Better Blogger: Content Planning</a
                >
              </h3>

              <ul class="card-meta-list">
                <li class="card-meta-item">
                  <ion-icon
                    name="calendar-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Oct 10, 2021</span>
                </li>

                <li class="card-meta-item">
                  <ion-icon
                    name="chatbubbles-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Com 09</span>
                </li>
              </ul>

              <p class="card-text">
                Lorem Ipsum Dolor Sit Amet Cons Tetur Adipisicing Sed.
              </p>
            </div>
          </div>
        </li>

        <li>
          <div class="blog-card">
            <figure
              class="card-banner img-holder has-after"
              style="--width: 370; --height: 370"
            >
              <img
                src="{% static '' %}assets/images/blog-2.jpg"
                width="370"
                height="370"
                loading="lazy"
                alt="Become A Better Blogger: Content Planning"
                class="img-cover"
              />
            </figure>

            <div class="card-content">
              <a href="#" class="card-btn" aria-label="read more">
                <ion-icon
                  name="arrow-forward-outline"
                  aria-hidden="true"
                ></ion-icon>
              </a>

              <a href="#" class="card-subtitle">Online</a>

              <h3 class="h3">
                <a href="#" class="card-title"
                  >Become A Better Blogger: Content Planning</a
                >
              </h3>

              <ul class="card-meta-list">
                <li class="card-meta-item">
                  <ion-icon
                    name="calendar-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Oct 10, 2021</span>
                </li>

                <li class="card-meta-item">
                  <ion-icon
                    name="chatbubbles-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Com 09</span>
                </li>
              </ul>

              <p class="card-text">
                Lorem Ipsum Dolor Sit Amet Cons Tetur Adipisicing Sed.
              </p>
            </div>
          </div>
        </li>

        <li>
          <div class="blog-card">
            <figure
              class="card-banner img-holder has-after"
              style="--width: 370; --height: 370"
            >
              <img
                src="{% static '' %}assets/images/blog-3.jpg"
                width="370"
                height="370"
                loading="lazy"
                alt="Become A Better Blogger: Content Planning"
                class="img-cover"
              />
            </figure>

            <div class="card-content">
              <a href="#" class="card-btn" aria-label="read more">
                <ion-icon
                  name="arrow-forward-outline"
                  aria-hidden="true"
                ></ion-icon>
              </a>

              <a href="#" class="card-subtitle">Online</a>

              <h3 class="h3">
                <a href="#" class="card-title"
                  >Become A Better Blogger: Content Planning</a
                >
              </h3>

              <ul class="card-meta-list">
                <li class="card-meta-item">
                  <ion-icon
                    name="calendar-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Oct 10, 2021</span>
                </li>

                <li class="card-meta-item">
                  <ion-icon
                    name="chatbubbles-outline"
                    aria-hidden="true"
                  ></ion-icon>

                  <span class="span">Com 09</span>
                </li>
              </ul>

              <p class="card-text">
                Lorem Ipsum Dolor Sit Amet Cons Tetur Adipisicing Sed.
              </p>
            </div>
          </div>
        </li>
      </ul>

      <img
        src="{% static 'assets/images/blog-shape.png' %}"
        width="186"
        height="186"
        loading="lazy"
        alt=""
        class="shape blog-shape"
      />
    </div>
  </section>
</article>
{% endblock content %}
