{% extends "../base.html" %}
{% block title %} سبد خرید {% endblock title %}
{% load humanize %}
{% load static %}
{% block content %}
<article>

    <style>
        .cart-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            direction:rtl;
        }
        
        .cart-item, .cart-total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            border-top:1px solid gray;
            border-bottom:1px solid gray;
            padding: 10px;
        }
        
        .item-image, .total-image {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 5px;
        }
        
        .item-image img, .total-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .item-details, .total-details {
            flex-grow: 1;
            margin-left: 10px;
            display:flex;
            gap:20px;
            margin-right:50px;
        }
        
        .item-details h5 {
            margin: 0;
            font-size: 16px;
            color: #333;
        }
        
        .item-details p, .total-details p {
            margin: 5px 0;
            font-size: 14px;
            color: #777;
        }
        
        .item-quantity {
            display: flex;
            align-items: center;
            margin-left:50px;
        }
        
        .item-quantity button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        
        .item-quantity p {
            margin: 0 10px;
        }
        
        .item-price {
            font-size: 16px;
            color: #333;
        }
        
        .item-actions button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        
        .cart-total {
            padding: 20px;
            background-color: #4d4d4f;
            border-radius:3px;
        }
        
        .cart-total p {
            margin: 5px 0;
            font-size: 14px;
            color: #fff;
        }
        
        .total-action button {
            background-color: hsl(170, 75%, 41%);
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .total-action button:hover {
            background-color: #2980b9;
        }

        /* Responsive styles */
        @media screen and (max-width: 768px) {
            .cart-item, .cart-total {
                flex-direction: column;
                text-align: center;
                align-items: centerW;
            }

            .item-details, .total-details {
                margin-left: 0;
                margin-right:0;
                margin-top: 10px;
            }


            .total-action {
                margin-top: 20px;
            }
        }
    </style>
    
    <div class="cart-container">
        <!-- Product 1 -->
        {% if order.items.exists %}
        {% for orders in order.items.all %}
        <div class="cart-item">
            
            <div class="item-image">
                <img src="{{ orders.course.banner.url }}" alt="Product Image">
            </div>
    
            <div class="item-price">
                <a href="/Course/remove_item/{{ orders.course.name }}" > <i class=" icon ph-bold ph-trash"></i> <a>
            </div>
    
            <div class="item-details">
                <h5><a href="/Course/{{ orders.course.name }}">{{ orders.course.title }}</a></h5>
            </div>
            
    
            <div class="item-price">
                <p class="price">{{ orders.course.discount_price | intcomma }} تومان</p>
            </div>
    
            <div class="item-actions">
                <button><i class="uil uil-trash"></i></button>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <p style="text-align: center; display: flex;gap: 2px;font-size: large; align-items: center;margin: 0 auto;" >سبد خرید شما خالی است از این  <a style="color: #2980b9;" href="/Course/hackmirooo/"> لینک </a>  دوره مورد نظر خود را انتخواب کنید.</p>
        {% endif %}

        <!-- Total -->
        <div class="cart-total">

            <div class="total-details">
                <p><i class="uil uil-dollar-alt"></i> {{ order.get_total_price | intcomma }} تومان</p>
                <p><i class="uil uil-percentage"></i> {{ order.final_total_descount  }} درصد تخفیفات</p>
                <p><i class="uil uil-arrow-circle-right"></i> {{ order.get_total_descount | intcomma }} قیمت نهایی</p>
            </div>

            <div class="total-action">
                <button> پرداخت کنید <i class="ph-bold ph-credit-card"></i></button>
            </div>
        </div>
    </div>
</article>
{% endblock content %}