<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load humanize %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>سبد خرید</title>
</head>

<body>
    <main class="container">
        <!--start side menu made by Saba -->
        {% include "../siedbar.html" %}
        <!--end side menu made by Saba -->
        <!-- User Header Section -->
        {% include "../header.html" %}
        <div class="title" id="title">
            <i class="uil uil-apps" id="menu-icon" onclick="openMenu()"></i>
            <h1>amirooo</h1>
        </div>
        <div class="om-main-div">
            <div class="om-div">
                <div class="om-img">
                    <img src="{% static "images/saba.jpg" %}" alt="">
                </div>

                <div class="om-title_desc">
                    <h5><b>محصول هکری</b></h5>
                    <p>جزعبات محصول</p>
                </div>

                <div class="om-total">
                    <div class="pluc">
                        <a href="-"></a>
                    </div>

                    <p>1</p>

                    <div class="minez">
                        <a href="+"></a>
                    </div>
                </div>

                <div class="om-price">
                    <p class="proce">120.101</p>
                </div>

                <div class="om-delited">
                    delit icon
                </div>
            </div>
        </div>

    </main>
    <script>
        let icon = document.getElementById("menu-icon")
        let menu = document.getElementById("menu")

        function openMenu() {
            if (menu.style.width === "0px") {
                menu.style.width = "300px";
                menu.style.overflow = "visible";
            }
            else {
                menu.style.width = "0px";
                menu.style.overflow = "hidden"

            }

        }
    </script>
</body>

</html>