<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load humanize %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>نتیجه پرداخت</title>
</head>

<body>
    <main class="container">
        <!--start side menu made by Saba -->
        {% include "../siedbar.html" %}
        <!--end side menu made by Saba -->
        <!-- User Header Section -->
        {% include "../header.html" %}
        <!-- end of User Header Section by Amiran -->
        <div class="main-div">
            <div class="payment-details">
                <h1>پرداخت موفق</h1>
                <h2>200000 تومان</h2>
                <div class="date">
                    <h3>تاریخ:</h3>
                    <h3>2023/10/8</h3>
                </div>
                <div class="clock">
                    <h3>زمان:</h3>
                    <h3>19:23</h3>
                </div>
                <div class="p-number">
                    <h3>شماره پیگیری :</h3>
                    <h3>546574654545</h3>
                </div>
                <div class="owner">
                    <h3>نام پذیرنده :</h3>
                    <h3> امیرحسین امیران</h3>
                </div>
                <div class="owner-code">
                    <h3> کد پذیرنده :</h3>
                    <h3>1321547454</h3>
                </div>
                <div class="card-number">
                    <h3>شماره کارت :</h3>
                    <h3>6037 99** **** 5898</h3>
                </div>
                <div class="payer">
                    <h3>پرداخت کننده :</h3>
                    <h3>علی محمدی</h3>
                </div>
                <div class="payment-code">
                    <h3>شناسه پرداخت :</h3>
                    <h3>465746545245</h3>
                </div>
                <div class="pay-btns">
                    <a href="#"> گزارش مشکل </a>
                    <a href="#">بازگشت به صفحه اصلی</a>
                </div>
                <a href="#" class="factors">فاکتور های پیشین</a>

            </div>
            <div class="picture">
                <img src="{% static "images/successful.jpg" %}">
            </div>
        </div>

    </main>
    <script>
        let icon = document.getElementById("menu-icon")
        let menu = document.getElementById("menu")

        function openMenu() {
            if (menu.style.width === "0px") {
                menu.style.width = "300px";
                menu.style.overflow = "visible";
            }
            else {
                menu.style.width = "0px";
                menu.style.overflow = "hidden"

            }

        }
    </script>
</body>

</html>