@font-face {
    font-family: "vazir";
    src: url(/Frontend/fonts/Vazir.eot)format("eot"), url(/Frontend/fonts/Vazir.woff)format("woff"), url(/Frontend/fonts/Vazir.woff2)format("woff2");
}

@font-face {
    font-family: "vazir-light";
    src: url(/Frontend/fonts/Vazir-Light.eot)format("eot"), url(/Frontend/fonts/Vazir-Light.woff)format("woff"), url(/Frontend/fonts/Vazir-Light.woff2)format("woff2");
}

@font-face {
    font-family: "vazir-medium";
    src: url(/Frontend/fonts/Vazir-Medium.eot)format("eot"), url(/Frontend/fonts/Vazir-Medium.woff)format("woff"), url(/Frontend/fonts/Vazir-Medium.woff2)format("woff2");
}

@font-face {
    font-family: "vazir-thin";
    src: url(/Frontend/fonts/Vazir-Thin.eot)format("eot"), url(/Frontend/fonts/Vazir-Thin.woff)format("woff"), url(/Frontend/fonts/Vazir-Thin.woff2)format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* end of projects needs */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(201, 201, 201);
}

/* start of side menu by saba */
.container {
    background-color: white;
    width: 95%;
    height: 95vh;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .title i {
    font-size: 2rem;
    color: #f06e6e;
    cursor: pointer;
}

.container .title h1 {
    font-size: 1.5rem;
    color: black;
}

.container .title {
    padding: 20px;
    font-size: small;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.side-menu {
    width: 20%;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 998;
    border-radius: 20px 0 0 20px;
    padding-top: 20px;
    padding-left: 30px;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: width .3s linear;

}

.title {
    display: flex;
    flex-direction: row;
    font-size: x-small;
    gap: 10px;
    z-index: 999;
    margin-bottom: 20px;
    font-family: 'Comfortaa', cursive;
}

.title i {
    font-size: x-large;
    color: #f06e6e;
    z-index: 999;
}

.items {
    margin-bottom: 20px;
    direction: rtl;
    margin-top: 50px;
}

.item {
    padding: 10px;
    width: fit-content;
    transition: 0.5s;
    margin-right: 50px;
}

.item a {
    text-decoration: none;
    color: black;
    font-family: "vazir";
    font-size: small;
}

.item i {
    font-size: large;
    margin-right: 5px;
    color: black;
}

.item:hover {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
}

.image button {
    position: absolute;
    top: 80%;
    left: 17%;
    width: 50%;
    padding: 7px;
    border: none;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-family: "vazir-medium";
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.692);
}

.image button:hover {
    color: #f06e6e;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.397);

}

.image {
    height: 40vh;
    position: relative;

}

.image img {
    width: 85%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

/* end of side menu by saba */

/* start of about us by saba */
.container .bg-about{
    width: 70%;
    height: 100%;
    float: right;
    border-radius: 0 20px 20px 0;
}
.first{
    width: 90%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.info-section{
    width: 43vw;
    direction: rtl;
    position: absolute;
    right: 35%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "vazir";
    text-align: justify;
    font-size: small;
    align-items: center;
    max-height: 99%;
    overflow-y: auto;
}
.info-section::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(228, 225, 225);

}

.info-section::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border-left: 0.1px solid white;
    background-color: #FF6D59;
    cursor: pointer;

}
.about-amiroo{
    background-color: #afe7df;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.219);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-top:50px;
    gap: 20px;
}
.amiroo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
   

}
.about-amiroo h4{
    width: 100%;
    text-align: justify;
    
    padding: 5px;
   
}
.titles{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
}
.titles a{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
}
.titles a:hover{
    border-bottom: 2px solid #58BAAB;
}
.options-box{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.274);
    position: relative;
}
.content{
    text-align: justify;
    direction: rtl;
    border: 1px dotted #c2c2c2;
    padding: 20px;
    border-radius:0 0 10px 10px;
    display: none;
}
.content h3{
    color: black;
    margin-bottom: 10px;
}
.titles .tabs.active{
  color: #58BAAB;
}
.options-box .content.active{
    display: block;
}
@media only screen and (max-width:500px) {

    .container {
        padding: 0;
        overflow-y: scroll;

    }

    .side-menu {
        width: 0px;
        overflow: hidden;
        font-size: x-large;
        padding: 0;
        top: 0;
    }
    .bg-about{
        display: none;
    }
    .info-section{
        width: 100%;
        position: relative;
        right: 0;
        overflow-y: visible;
    }
    .first{
        width: 80%;
        margin-top: 50px;
    }
    .first h1{
        text-align: center;
        font-size: x-large;
    }
    .about-amiroo{
        width: 80%;
    }
}
/* end of about us by saba */

/* start of contact us by rastin design */
.container .bg-contact{
    width: 70%;
    height: 100%;
    float: right;
    border-radius: 0 20px 20px 0;
}

.contact-header{
    width: 40vw;
    height: 99%;
    direction: rtl;
    position: absolute;
    right: 38%;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "vazir";
    font-size: small;
    align-items: center;
    overflow-y: auto;
}

.contact-section{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 32%;
    right: 12%;
    direction: rtl;
}

.help-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 450px;
    height: 100px;
    color: black;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    border-radius: 15px;
    transition: 0.5s;
    font-family: "vazir";
}
.chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 450px;
    height: 100px;
    color: black;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    border-radius: 15px;
    transition: 0.5s;
    font-family: "vazir";
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 450px;
    height: 100px;
    color: black;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    border-radius: 15px;
    transition: 0.5s;
    font-family: "vazir";
}

.contact-detail{
    display: flex;
    flex-direction: row;
}
.icon-contact{
    font-size: 60px;
    padding-top: 5px;
}

.contact-text{
    margin-top: 15px;
    padding-right: 15px;
}

.contact-btn{
    align-self: center;
    width: 160px;
    height: 35px;
    border: none;
    background-color: #FDBBBD;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    font-family: "vazir";
}
/* start of contact us by rastin design */
