/* start of projects needs */
:root {
    color: #58BAAB;
    color: #FB6B58;
    color: #F6BA05;
    color: #FDBBBD;
}

@font-face {
    font-family: "vazir";
    src: url(/Frontend/fonts/Vazir.eot)format("eot"), url(/Frontend/fonts/Vazir.woff)format("woff"), url(/Frontend/fonts/Vazir.woff2)format("woff2");
}

@font-face {
    font-family: "vazir-light";
    src: url(/Frontend/fonts/Vazir-Light.eot)format("eot"), url(/Frontend/fonts/Vazir-Light.woff)format("woff"), url(/Frontend/fonts/Vazir-Light.woff2)format("woff2");
}

@font-face {
    font-family: "vazir-medium";
    src: url(/Frontend/fonts/Vazir-Medium.eot)format("eot"), url(/Frontend/fonts/Vazir-Medium.woff)format("woff"), url(/Frontend/fonts/Vazir-Medium.woff2)format("woff2");
}

@font-face {
    font-family: "vazir-thin";
    src: url(/Frontend/fonts/Vazir-Thin.eot)format("eot"), url(/Frontend/fonts/Vazir-Thin.woff)format("woff"), url(/Frontend/fonts/Vazir-Thin.woff2)format("woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/* end of projects needs */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(201, 201, 201);
}

/* start of side menu by saba */
.container {
    background-color: white;
    width: 95%;
    height: 95vh;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .title i {
    font-size: 2rem;
    color: #f06e6e;
    cursor: pointer;
}

.container .title h1 {
    font-size: 1.5rem;
    color: black;
}

.container .title {
    padding: 20px;
    font-size: small;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.side-menu {
    width: 20%;
    height: 100%;
    background-color: #f2f2f2;
    z-index: 998;
    border-radius: 20px 0 0 20px;
    padding-top: 20px;
    padding-left: 30px;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: width .3s linear;

}

.title {
    display: flex;
    flex-direction: row;
    font-size: x-small;
    gap: 10px;
    z-index: 999;
    margin-bottom: 20px;
    font-family: 'Comfortaa', cursive;
}

.title i {
    font-size: x-large;
    color: #f06e6e;
    z-index: 999;
}

.items {
    margin-bottom: 20px;
    direction: rtl;
    margin-top: 50px;
}

.item {
    padding: 10px;
    width: fit-content;
    transition: 0.5s;
    margin-right: 50px;
}

.item a {
    text-decoration: none;
    color: black;
    font-family: "vazir";
    font-size: small;
}

.item i {
    font-size: large;
    margin-right: 5px;
    color: black;
}

.item:hover {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
}

.image button {
    position: absolute;
    top: 80%;
    left: 17%;
    width: 50%;
    padding: 7px;
    border: none;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-family: "vazir-medium";
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.692);
}

.image button:hover {
    color: #f06e6e;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.397);

}

.image {
    height: 40vh;
    position: relative;

}

.image img {
    width: 85%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

/* end of side menu by saba */

/* Starting heder section by amiran */

.header_section {
    position: absolute;
    transform: translateX(-50%);
    padding: 2.5px;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    left: 50%;
    padding-left: 25%;
    text-align: center;
    z-index: 989;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px 0px 0px 0px;
}

.header_section .section-heder-two {
    display: flex;
    gap: 15px;
}

.header_section .search {
    font-size: larger;
    position: relative;
    top: 5px;
    border-radius: 10px;
}

.header_section .search input {
    width: 250px;
    font-size: large;
    background-color: #f2f2f2;
    border-radius: 15px;
    text-align: right;
    direction: rtl;
    border: none;
    padding: 3px;
    font-family: "vazir";
}

.header-section .search:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
}

.header_section .search i {
    position: absolute;
    left: 10px;
    top: 5px;
    color: black;
}

.header_section .icons {
    display: flex;
    gap: 15px;
    position: relative;
    top: 10px;
    padding: 5px;
    font-size: larger;
    color: black;
    border-radius: 10px;
}

.header_section .user_profile {
    display: flex;
    position: relative;
    right: 10px;
    align-items: center;
    text-align: left;
    padding: 5px;
    font-family: "vazir";
    gap: 10px;
    font-size: small;
    color: black;

    transition: 0.3s;
}

.header_section .user_profile:hover {
    border-radius: 12px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
}

.header_section .user_profile>div p {
    position: relative;
    top: 5px;
}

.header_section .user_profile>div span {
    color: gray !important;
    font-size: x-small;
    position: relative;
    top: -3px;
}

.header_section .user_profile .profile {
    position: relative;
    top: 3px;
}

.header_section .user_profile .profile img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

/* End of header section by amiran */

.main-banner {
    float: right;
    position: relative;
    left: 40%;
    top: 90px;
    transform: translateX(-50%);
    width: 90%;
    height: 180px;
    border-radius: 30px;
    background-color: #58BAAB;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
    padding: 15px;
}

.main-banner .main-images {
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
    right: 20px;
    top: -51px;
}

.main-banner .main-images img {
    width: 130px;
}

.main-banner .banner-title {
    width: 70%;
    position: relative;
    right: 240px;
}

.main-banner .banner-title h2 {
    text-align: right;
    font-size: 1.2rem;
}

.main-banner .banner-title span {
    position: relative;
    text-align: right;
    top: -10px;
    color: gray;
    font-family: "vazir";
    direction: rtl;
    float: right;
}

.we-options {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    position: relative;
    float: left;
    margin-left: 25px;
    width: fit-content;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
}

.we-options .options {
    align-items: center;
    width: 25%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    cursor: pointer;
}

.we-options .options>div {
    display: flex;
    flex-direction: column;
}

.we-options .options img {
    left: 50%;
    background-color: #F6BA05;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
    top: 28%;
    padding: 10px;
    border-radius: 15px;
    width: 3.5vw;
    transform: translate(-50%);
}

.we-options .options p {
    direction: ltr;
    position: relative;
    width: 5vw;
    height: fit-content;
    right: 17px;
    font-size: x-small;
    color: black;
    font-family: vazir;
}

.we-options .options span {
    direction: ltr;
    position: relative;
    width: 5vw;
    height: fit-content;
    right: 17px;
    font-size: x-small;
    color: black;
    font-family: "vazir";
}

/* start of first page by rastin design */

.Sections_header {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 20px;
    direction: rtl;
    float: right;
    text-align: right;
    font-size: 12px;
    display: flex;
    padding-right: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.firstpage {
    float: right;
    top: 50px;
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 35px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

h2 {
    font-family: "vazir";
    color: black;
}

#popular-courses {
    width: 37%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    box-sizing: border-box;
}

#courses-dropdown {
    justify-content: left !important;
    margin-top: 0px !important;
    float: left !important;
}

select {
    margin: 0px !important;
    margin-left: 0px !important;
    width: fit-content !important;
    height: 34px !important;
    padding: 5px 10px 5px 0px !important;
    font-size: 13px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/Frontend/images/icons/arrow-down-img.png) 96% / 15% no-repeat #eee;
}

option {
    text-align: center;
    background-color: #f2f2f2;
}


.main_course {
    margin-top: 10px;
    padding: 15px;
    background-color: #58baab13;
    border-radius: 10px;
}

.course {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    direction: rtl;
}

.course:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199) !important;
    transform: scale(1.02) !important;
    transition: 0.5s ease-in-out !important;
    cursor: pointer !important;
}

.courseicon {
    margin: 0px;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
    border-radius: 5px;
}

.description {
    margin-top: 5px;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coursetitle {
    font-size: small;
    color: black;
    padding-left: 0px;
    font-family: "vazir";
}

.grey {
    padding-left: 0px;
    font-size: 15px;
    color: grey;
    font-size: x-small;
    font-family: "vazir-light";
}

.coursebtn {
    width: 90px;
    height: 30px;
    font-size: x-small !important;
    padding: 1px 1px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "vazir";
}

.course:nth-child(1) .coursebuttons .coursebtn {
    background-color: #f6ba054e;
}

.course:nth-child(2) .coursebuttons .coursebtn {
    background-color: #f06e6e3f;
}

.course:nth-child(3) .coursebuttons .coursebtn {
    background-color: #58baab3b;
}

.course:nth-child(4) .coursebuttons .coursebtn {
    background-color: #fdbbbd3b;
}

/* Hower of btns */
.course:nth-child(1):hover .coursebtn {
    background-color: #F6BA05;
}

.course:nth-child(2):hover .coursebtn {
    background-color: #f06e6e;
}


.course:nth-child(3):hover .coursebtn {
    background-color: #58BAAB;
}


.course:nth-child(4):hover .coursebtn {
    background-color: #FDBBBD;
}

.morebtn {
    width: 25px;
    height: 35px;
    border: none;
    position: relative;
    top: 0px;
    border-radius: 8px;
    background: none;
}

.coursebuttons {
    margin-top: 5px;
}

.morebtn:hover {
    background-color: rgb(181, 179, 179);
    border: 0.5px solid black;
    border-radius: 8px;
    cursor: pointer;
}

.course:hover .morebtn {
    background-color: #a1a1a174;
    border-radius: 12px;
}

.morebtndetail:hover {
    color: white;
    cursor: pointer;
}

#current-activity {
    width: 30%;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    box-sizing: border-box;
    text-align: right;
    direction: ltr;
}

#activity-header {
    margin-left: 0;
}


.big-activity {
    margin-top: 10px;
    background-color: #58BAAB;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
    width: 100%;
    height: 150px;
    border-radius: 25px;
}

.small-activity {
    /* margin-top: -120px; */
    padding: 15px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
    width: 48%;
    height: 100px;
    border-radius: 25px;
    direction: rtl;
}

.avtivitytitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: "vazir";
}

.activityDes {
    color: black;
    font-size: 12px;
    font-family: "vazir";
}

.activitybtn {
    width: 25px;
    height: 25px;
    padding: 5px;
    position: relative;
    top: -10px;
    left: -90px;
    border: none;
    border-radius: 100%;
    float: right;
    cursor: pointer;
}

.playbtn {
    font-size: 15px;
    color: #f06e6e;
}

.first {
    background-color: #F6BA05;
}

.second {
    background-color: #FB6B58;
}

#best-instructors {
    width: 33%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px;
    box-sizing: border-box;
}

.main_Instructor {
    padding: 15px;
    background-color: #58baab13;
    border-radius: 10px;
}

.Instructor {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    direction: rtl;
}

#seeAll {
    padding-top: 10px;
    padding-right: 3cap;
    font-size: 13px;
    color: black;
    font-family: "vazir-light";
    direction: rtl;
    text-decoration: underline;
    cursor: pointer;
}

#seeAll:hover {
    color: #253298;
}

.Instructor:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
    transform: scale(1.02);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.Instructorbtn {
    width: 95px;
    height: 40px;
    font-size: 15px;
    padding: 1px 10px;
    background-color: white;
    margin: 5px;
    border-radius: 8px;
}

.Instructorbtn:hover {
    border: none !important;
    color: white;
    background-color: #f06e6e;
    cursor: pointer;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 0px;
}

.Instructortitle {
    position: relative;
    right: 0;
    font-size: small;
    color: black;
    font-family: "vazir";
}

.Instructorbtn {
    width: 90px;
    height: 30px;
    background-color: white;
    margin: 5px;
    font-size: x-small;
    border-radius: 8px;
    font-family: "vazir";
    cursor: pointer;
}

.Instructorbtn:hover {
    border: none !important;
    color: white;
    background-color: #f06e6e;
}

.main_Instructor .Instructor:nth-child(1):hover .Instructorbtn {
    background-color: #F6BA05;
}

.main_Instructor .Instructor:nth-child(2):hover .Instructorbtn {
    background-color: #f06e6e;
}

.main_Instructor .Instructor:nth-child(3):hover .Instructorbtn {
    background-color: #58BAAB;
}

.main_Instructor .Instructor:nth-child(4):hover .Instructorbtn {
    background-color: #FDBBBD;
}

/* end of first page by rastin design */

/*----------------------------------user profile styles start--------------------------------------- */
.poster img {
    position: absolute;
    top: 0;
    right: 0;
    height: 20vh;
    width: 80%;
    border-radius: 0 20px 0 0;

}

.user-pic img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: #58BAAB;
    position: absolute;
    top: 12%;
    right: 5%;
}

.user-info {
    position: absolute;
    top: 23%;
    right: 15%;
    font-family: "vazir";
    color: black;
    direction: rtl;

}

.sidebar {
    position: absolute;
    right: 0;
    top: 33%;
    width: 20%;
    height: 72%;
    border-radius: 20px 0 20px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
}

.sidebar h3 {
    font-family: "vazir-thin";
    color: black;
    direction: rtl;
    margin: 10px;
    font-size: medium;
}

.sidebar hr {
    width: 90%;
    position: absolute;
    left: 5%;
}

.sidebar ul {
    color: black;
    direction: rtl;
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 30px;
    font-family: "vazir";

}

.sidebar ul li {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.sidebar ul li:hover {
    cursor: pointer;
    background-color: #FDBBBD;
}

.profile-tabs {
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 56vw;
    height: 62vh;
    position: absolute;
    right: 22%;
    top: 33%;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.profile-options {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.profile-options a {
    text-decoration: none;
    color: black;
    font-family: "vazir";
    font-size: large;
    padding: 10px;
    position: relative;
}

.profile-options a:hover {
    border-bottom: 3px solid #f06e6e;
    color: #f06e6e;
}

.user-crs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 12%;
    direction: rtl;
    width: 55vw;
    max-height: 54vh;
    overflow-y: scroll;
    padding: 10px;

}

.content {
    display: none;
    color: black;
    font-family: "vazir";
}

.profile-options .tabs.active {
    color: #f06e6e;
}

.profile-tabs .content.active {
    display: block;
}

.user-crs::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(228, 225, 225);

}

.user-crs::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border-left: 0.1px solid white;
    background-color: #FF6D59;
    cursor: pointer;
}

.user-crs .crs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: fit-content;
    font-family: "vazir-light";
    font-size: small;
    color: black;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.user-crs .crs:hover {
    transform: scale(0.95);
}

.user-crs .crs img {
    width: 30%;
    height: 100%;
}

.user-crs .crs div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-div {
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: wrap;

}

/*user profile styles end */



/* start of course-card by rastin design  */
.product-card-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 18vh;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px 40px;
    color: #000;
    font-family: "vazir";
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    justify-content: right;
    position: relative;
    width: 80%;
    height: 100%;
    gap: 20px;
    padding: 10px;
    overflow-y: scroll;
    direction: rtl;
}

.cards::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(228, 225, 225);

}

.cards::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border-left: 0.1px solid white;
    background-color: #FF6D59;
    cursor: pointer;
}

.product-card {
    width: 24%;
    height: fit-content;
    position: relative;
    float: left;
    box-shadow: 0 2px 10px #999;
    margin: 50px auto;
    padding: 15px;
    background: #fafafa;
    border-radius: 15px;
}

.badge {
    position: absolute;
    left: 18px;
    top: 40px;
    z-index: 2;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    font-family: "vazir";
    background: yellow;
    color: black;
    padding: 3px 10px;
    margin-left: -3px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100%;
    border-radius: 15px;
}

.product-tumb img {
    display: block;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 100%;
    border-radius: 15px;
    z-index: 1;
}

.markbtn {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    font-size: 1.25rem;
    transition: .25s ease;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
    z-index: 1;
    cursor: pointer;
    background-color: #FAFAFA;
    border: 1px solid #999;
    border-radius: 50%;
}

.markbtn:hover {
    border: none;
    background-color: yellow;
}

.likebtn {
    position: absolute;
    top: 65px;
    right: 20px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    font-size: 1.25rem;
    transition: .25s ease;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
    z-index: 1;
    cursor: pointer;
    background-color: #FAFAFA;
    border: 1px solid #999;
    border-radius: 50%;
}

.likebtn:hover {
    border: none;
    background-color: rgb(246, 50, 50);
}

.level{
    position: absolute;
    width: 118px;
    height: 25px;
    top: 140px;
    right: 25px;
    padding: 1px 10px;
    background-color: #FAFAFA;
    border: 1px solid #999;
    border-radius: 15px;
    text-align: right;
    z-index: 99;
}

.level p {
    display: inline;
    color: #000;
    font-weight: bold;
    font-size: 12px;
    font-family: "vazir";
}

.level i{
    display: inline;
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
    padding: 0;
    color: #000;
    top: 5px;
}

.product-details {
    width: fit-content;
    height: fit-content;
    padding: 10px 0px;
}

.product-catagory {
    direction: rtl;
    display: block;
    position: relative;
    font-size: 10px;
    font-weight: 700;
    font-family: "vazir";
    color: #999;
    margin-top: 5px;
    margin-bottom: 10px;
}

.product-details h4 a {
    direction: rtl;
    font-size: 14.5px;
    font-weight: bold;
    font-family: "vazir";
    text-decoration: none;
    display: block;
    color: #363636;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #253298;
}

.product-owner{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items: center;
    gap: 25px;
    width: fit-content;
    height: fit-content;
    position: relative;
    float: left;
    box-shadow: 0.2px 0.2px 1.5px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    padding: 5px;
    margin-left: 3px;
    top: -55px;
}
.product-owner img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.product-owner h5{
    color: #000;
    font-family: "vazir";
    font-size: 12px;
}
.product-details p {
    display: inline-block;
    direction: rtl;
    font-size: 12px;
    font-family: "vazir";
    line-height: 20px;
    margin-top: -35px;
    margin-bottom: 10px;
    color: #999;
}

.product-price {
    direction: rtl;
    color: #253298;
    font-family: "vazir";
    font-size: 14px;
}

.buybtn {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "vazir";
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* end of course-card by rastin design  */

/* start of CourseDetails by rastin design */
.CoursesDetails {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
}

.Course-poster img {
    position: absolute;
    top: 00px;
    right: 0px;
    height: 30vh;
    width: 80%;
    /* border-radius: 20px; */
    z-index: 1;
}

.teacher {
    position: absolute;
    right: 60px;
    top: 22%;
    width: 16%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
    background-color: whitesmoke;
    z-index: 999;
}

.teacher-pic img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #58BAAB;
    position: absolute;
    top: 2%;
    right: 3%;
}

.teacher-info {
    position: absolute;
    top: 21%;
    right: 3%;
    line-height: 20px;
    font-family: "vazir";
    color: black;
    direction: rtl;
}

.teacher-titr {
    margin-right: 3px;
    margin-top: 7px;
}

.teacher-description {
    margin: 3px;
    margin-left: 6px;
    margin-top: 8px;
    font-size: 12px;
}

.chapter-summery {
    position: absolute;
    top: 40%;
    right: 22%;
    width: 750px;
    height: 200px;
    background-image: linear-gradient(to right, rgba(201, 201, 201, 0.1), rgba(201, 201, 201, 0.4), rgba(201, 201, 201, 0.1));
    line-height: 20px;
    font-family: "vazir";
    color: black;
    direction: rtl;
    padding: 15px 15px;
}

.chapter-summery p {
    margin-top: 7px;
    font-family: "vazir";
    color: black;
    direction: rtl;
    font-size: 14px;
}

.chapters-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 22%;
    top: 75%;
    direction: rtl;
}

.chapter {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 750px;
    height: 100px;
    color: black;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    font-family: "vazir";
}

.chapter:hover {
    transform: scale(1.02);
}

.chapter i {
    text-align: center;
    padding-top: 11px;
    padding-left: 3px;
    border-radius: 50%;
    font-size: 35px;
    width: 55px;
    height: 55px;
}

.chapter-header {
    padding: 7px 0px;
    font-weight: 570;
}

.chapter-desc {
    font-size: 13px;
    color: #363636;
    padding-top: 5px;
}

/* end of CourseDetails by rastin design */


/* start of system abzar by rastin design */
.main-section {
    position: relative;
    width: 80%;
    float: right;
    height: 100%;
    overflow-y: auto;
    direction: rtl;
    overflow-y: scroll;
}

.main-section::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: rgb(228, 225, 225);

}

.main-section::-webkit-scrollbar-thumb {
    border-radius: 2px;
    border-left: 0.1px solid white;
    background-color: #FF6D59;
    cursor: pointer;

}

.abzar-con {
    width: 100%;
    height: 60%;
    margin-bottom: 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
}

.abzar-detail {
    position: relative;
    right: 0;
    text-align: right;
    float: right;
    padding-right: 50px;
    font-weight: bold;
}

.gray-a {
    margin-top: 10px;
    font-family: "vazir";
    font-size: small;
    color: rgb(108, 106, 106);
}

.tools {
    width: 95%;
    left: 44%;
    top: 2%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    position: relative;
    font-family: "vazir";
    gap: 100px;
    transform: translateX(-50%);
}

.abzar {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 15px;
    position: relative;
    float: right;
    direction: rtl;
    display: flex;
    flex-direction: row;
}

.abzar:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
}

.abzar a {
    text-decoration: none;
}

.abzar-head {
    direction: rtl;
}

.abzar-head h3 {
    font-size: medium;
    color: black;
}

/* end of system abzar by rastin design */

/* ------------------------------ project order page styles is bellow here -----------------------------*/
#header {
    gap: 30px;
    flex-direction: row-reverse;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    width: 80%;
    left: 20%;
    transform: none;
}

#header h1 {
    color: black;
    font-family: "vazir";
    font-size: large;
    direction: rtl;
}

.order-details {
    width: 75%;
    float: right;
    margin-right: 30px;
    margin-top: 100px;
    color: black;
    font-family: "vazir";
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.type,
.order-title,
.time,
.budget {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    direction: rtl;
    text-align: right;
}

.order-description {
    display: flex;
    flex-direction: column;
    direction: rtl;
    gap: 10px;
    width: 48%;
}

.order-description textarea {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    outline: none;
    /* border: 1px solid #cac8c8; */
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
    font-size: 1rem;
    padding: 5px;
    direction: rtl;
    font-family: "vazir";
}

.type select {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.185);
    font-family: "vazir";
    direction: rtl;
    margin: 0;
    padding: 0;

}

#orderType {
    appearance: none;
}

.upload-img i {
    height: fit-content;
    font-size: x-large;
}

.top-part {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    direction: ltr;
    justify-content: space-between;
    position: relative;
    right: 0;
    height: 30vh;
}

.top-right-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    direction: rtl;
    width: 48%;
    height: 100%;
    margin-top: 35px;
}

.upload-section {
    width: 48%;
}

.order-title input,
.time input,
.budget input {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    outline: none;
    /* border: 1px solid #cac8c8; */
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.205);
    font-size: 1rem;
    padding: 5px;
    height: fit-content;
    direction: rtl;
    font-family: "vazir";
}

.order-title input:focus,
.order-description textarea:focus,
.time input:focus,
.budget input:focus {
    border: 1px solid #58BAAB;
}

.order-title input:hover,
.order-description textarea:hover,
.time input:hover,
.budget input:hover {
    background-color: #58baab1f;
}

.order-description textarea {
    width: 100%;
}

.order-details button {
    background-color: #F6BA05;
    color: black;
    font-size: medium;
    font-family: "vazir-medium";
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 78%;
    height: 5%;
}

.order-details button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.329);
    color: white;
}

.upload-img {
    direction: rtl;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.upload-img input {
    display: none;
}

.upload-img label {
    background-color: #f06e6e;
    width: fit-content;
    height: fit-content;
    font-size: small;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    padding: 5px;
    transition: 0.3s;
}

.upload-img label:hover {
    background-color: #ffadad;
}

.img-receiver {
    width: 100%;
    height: 68%;
    background-color: #58baab1f;
    border-radius: 10px;
    margin-top: 10px;
}

.bottom-part {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 35vh;
}

.skills {
    direction: rtl;
    width: 48%;
}

.skills input[type="button"] {
    border: none;
    background-color: #58BAAB;
    font-family: "vazir";
    font-size: 0.9rem;
    margin-top: 60px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.37);
    transition: 0.5s;
}

.skills input[type="button"]:hover {
    background-color: white;
    color: black;
}

.checkboxes {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    font-size: medium;
    font-family: cursive;
}

input[type=checkbox]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* ---------------------------------successfull payment page styles-------------------------------------- */

.main-div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    width: 80%;
    height: 90%;
    align-items: center;
    margin: 20px;
}

.payment-details {
    width: 50%;
    height: fit-content;
    font-size: medium;
    color: black;
    float: right;
    font-family: "vazir-thin";
    direction: rtl;
    text-align: center;
}

.payment-details h1 {
    color: green;
}

.payment-details h2 {
    margin-top: 20px;
}

.date {
    margin-top: 20px;
}

.date,
.clock,
.p-number,
.owner,
.owner-code,
.card-number,
.payer,
.payment-code {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px dotted black;
    padding: 5px;
}

.picture img {
    width: 400px;
    height: 300px;
}

.payment-details .pay-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
}

.payment-details .pay-btns a {
    text-decoration: none;
    color: white;
    background-color: #0E93B2;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    transform: scale(1);
    margin-top: 10px;

}

.factors {
    margin-top: 2px;
    background-color: #F85981;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    transform: scale(1);
}

.payment-details .pay-btns a:hover,
.factors:hover {
    font-weight: bolder;
    transform: scale(0.98);
}

/* ---------------------------------UNsuccessfull payment page styles-------------------------------------- */

.un-main-div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    width: 80%;
    height: 90%;
    align-items: center;
    margin: 20px;
}

.un-payment-details {
    width: 50%;
    height: fit-content;
    font-size: medium;
    color: black;
    float: right;
    font-family: "vazir-thin";
    direction: rtl;
    text-align: center;
}

.un-payment-details h1 {
    color: red !important;
}

.un-payment-details h1 {
    color: green;
}

.un-payment-details h2 {
    margin-top: 20px;
}

.un-picture img {
    width: 400px;
    height: 380px;
}

.un-payment-details .pay-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px;
}

.un-payment-details .pay-btns a {
    text-decoration: none;
    color: white;
    background-color: #0E93B2;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    transform: scale(1);
    margin-top: 10px;

}

.factors {
    margin-top: 2px;
    background-color: #F85981;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    transform: scale(1);
}

.un-payment-details .pay-btns a:hover,
.factors:hover {
    font-weight: bolder;
    transform: scale(0.98);
}


@media only screen and (max-width:500px) {

    .container {
        padding: 0;
        overflow-y: scroll;

    }

    .side-menu {
        width: 0px;
        overflow: hidden;
        font-size: x-large;
        padding: 0;
    }

    .main-section {
        width: 100%;
    }
    
    .firstpage {
        width: 95%;
        left: 5px;
        right: 0;
        align-items: center;
        margin-right: 0;
        padding: 10px;
    }

    .header-section {
        margin-bottom: 10%;
    }

    #popular-courses {
        margin-top: 20%;
        padding-left: 0;
        width: 100%;
    }

    .courseicon {
        width: 50px;
        height: 50px;
    }

    .coursetitle {
        font-size: 13px;
    }

    .course {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .grey {
        font-size: 12px;
    }

    .main_course {
        padding: 0;
    }

    .coursebuttons {
        margin-top: 10px;
    }

    .small-activity {
        margin-top: 5px;
        height: 15vh;
    }

    .activitybtn {
        top: 13px;
        right: 58px;
    }

    #current-activity {
        gap: 5px;
        width: 95%;
    }

    #best-instructors {
        margin-top: 50px;
        width: 90%;
        padding: 0;
        margin-bottom: 50px;
    }

    .main-banner {
        width: 95%;
        height: fit-content;
        top: 60px;
        padding: 0;
        right: 0;
        left: 0;
        margin-right: 0;
        padding: 10px;
        transform: translateX(0%);
    }

    .main-banner .banner-title {
        right: 0;
    }

    .we-options {
        flex-wrap: wrap;
        top: 0px;
        left: 15%;
        width: 95%;
        height: 20vh;
        padding: 5px;
        right: 5%;
        gap: 50px;
    }
    
    .we-options .options{
        width: 29vw;
        height: 5vh;
    }

    .we-options .options img {
        left: 40%;
        background-color: #F6BA05;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.199);
        top: 28%;
        padding: 10px;
        border-radius: 15px;
        width: 12vw;
        transform: translate(0%);
    }
    .we-options .options p {
        left: 85px;
    }
    
    .we-options .options span {
        left: 85px;
    }

    .header_section {
        flex-direction: column-reverse;
        height: 19vh;
        width: 100vw;
        top: 15px;
        padding: 8px;
        margin: 0;
        position: relative;
        right: 0;
    }

    .header_section .search input {
        width: 85%;
        height: 50px;
    }

    .header_section .search i {
        font-size: xx-large;
        left: 10%;
        top: 8px;
    }

    .header_section .section-heder-two {
        margin-left: 50%;
        top: 10px;

    }

    .banner-title {
        margin-top: 200px;
        width: 90% !important;
        margin-right: 10px !important;
    }

    .cards {
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        margin-top: 40px;
    }

    .product-card-header{
        margin-top: 30px
    }

    .product-card {
        width: 85%;
    }

    .product-owner{
        margin-top: 5px;
    }

    .poster img {
        width: 100%;
        z-index: 997;
    }

    .user-pic img {
        z-index: 997;
        top: 13vh;
    }

    .user-info {
        right: 40vw;
        top: 21vh;
    }

    .sidebar {
        width: 97%;
        position: relative;
        top: 150px;
        right: 0;
    }

    
    .profile-tabs {
        width: 100%;
        position: relative;
        top: 30vh;
        right: 0;
        padding: 0;
    }
    .user-crs{
        width: 100%;
        margin-top: 20px;
    }

    .main-div {
        flex-direction: column;
        right: 0;
        padding-left: 10px;
    }

    #header {
        width: 100%;
        z-index: 1;
        top: 0;
        right: 0;
    }

    .project-title {
        top: 80px;
    }

    .order-details {
        width: 100%;
        margin-right: 10px;
    }

    .type,
    .order-title,
    .time,
    .budget {
        font-size: medium;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .type select,
    .order-title input,
    .time input,
    .budget input {
        width: 250px;
        height: 40px;
    }

    .order-description textarea {
        width: 95%;
    }

    .upload-section {
        width: 95%;
        gap: 5px;
        margin-bottom: 20px;
        font-size: medium;
    }

    .upload-img label {
        direction: ltr;
    }

    .upload-section .img-receiver {
        height: 20vh;
    }

    .order-description {
        font-size: medium;
    }

    .order-details button {
        width: 95%;
        position: relative;
        margin-bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .skills {
        width: 100%;
        font-size: medium;
    }


    .abzar-con {
        position: relative;
        top: 925px;
        width: 88%;
        height: 80%;
        left: 5px;
        right: 0;
        margin-right: 0;
    }

    .tools {
        height: 40%;
        width: 100%;
        gap: 0px;
        right: -30%;
    }

    .abzar {
        width: 55px;
    }

    
    .abzar{
        justify-content: center;
        align-items: center;
        width: 105px;
        height: 145px;
    }

    .abzar-head {
        width: 90px;
    }

    .abzar-head h3 {
        font-size: 13px;
    }

    .gray-a {
        font-size: 10px;
    }

    .main-div {
        height: fit-content;
        margin-top: 100px;
        width: 90%;
    }

    .payment-details {
        width: 100%;
    }

    .picture img {
        width: 330px;
        height: 230px;
        margin-top: 30px;
    }

    .un-main-div {
        height: fit-content;
        margin-top: 100px;
        width: 90%;
    }

    .un-payment-details {
        width: 100%;
    }

    .un-picture img {
        width: 300px;
        height: 300px;
        margin-top: 15px;
    }

}